<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/style_sign.css') }}" rel="stylesheet" />
     
    
    
      <!-- fonts style -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
        rel="stylesheet" />
</head>
<body>
    <div class="hero_area">
        <!-- header section starts -->
        <header class="header_section">
              <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
    
                <span>
                  SneakPeek
                </span>
              </a>
        </header>
    
    <div class="side_heading">
        <h5>
          S
          n
          e
          a
          k
          P
          e
          e
          k
        </h5>
    </div>
    
    <form action="/loginAdmin" method="post" id="loginForm">

        <h2>Login Page</h2>
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        
        <input type="submit" value="Login">
    </form>
    <a href="/registerAdmin"><button>Sign Up</button></a>
</body>
</html>
