<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Exams</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" />

    <!-- Fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>

</head>
<body>

<header>
    
    <div class="hero_area">
        <!-- Header section starts -->
        <header class="header_section">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
                <span>
                  SneakPeek
                </span>
            </a>
        </header>

        <!-- Side header -->
        <div class="side_heading">
            <h5>
                S
                n
                e
                a
                k
                P
                e
                e
                k
              </h5>
        </div>
</header>

<div class="main-content">
    <div class="ongoing-exams">
        <h1>Cheat Detection App</h1>
        <h3>Ongoing Exams</h3>
        <table>
            <thead>
                <tr>
                    <th>Exam ID</th>
                    <th>Teacher ID</th>
                    <th>Exam Name</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for index, exam in ongoing_exams.iterrows() %}
                    <tr>
                        <td>{{ exam['Exam ID'] }}</td>
                        <td>{{ exam['Teacher ID'] }}</td>
                        <td>{{ exam['Exam Name'] }}</td>
                        <td>{{ exam['Exam Date'] }}</td>
                        <td>{{ exam['Exam Time'] }}</td>
                        <td>{{ 'Active' if exam['Active'] else 'Inactive' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No ongoing exams.</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>

<!-- Pagination Controls -->
<div id="pagination">
    <button onclick="prevPage()" id="prevBtn">Previous</button>
    <span id="pageNumber">1</span>
    <button onclick="nextPage()" id="nextBtn">Next</button>
</div>
</body>
</html>
